@import url('../css/style.css');
@import url('../css/login.css');



/*to be optimized*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary-color);

}
.input--columns {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.input--block {
    display: flex;
    flex-direction: column; 
}