
/*main website colors*/
:root {
    --primary-color: #E2AD0F;
    --secondary-color: #fffff0;/*use this instead of pure white*/
    --accent-color:#1a374ddc;/*for the blue overlay*/
    --background-color: #000;
  }
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }